add_newline = false

format = "$directory$git_branch$git_status$character"

[directory]
truncation_length = 3
truncate_to_repo = true

[git_branch]
symbol = "î‚  "
format = "[$symbol$branch]($style) "

[git_status]
disabled = false
